
#page-title {
    text-align: center;
    background-color: brown;
    
    
}

.container-fluid {
    background-color:slategrey ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-header {
    background-color: lightslategray;
}
.card-body {
    min-width: 25%;
    background-color: lightgoldenrodyellow;

}